[tool.poetry]
name = "'nonebot_plugin_PCtrl"
version = "0.1.0"
description = ""
authors = ["CherryGS <uplliode@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.9"
SQLAlchemy = "^1.4.29"
asyncpg = "^0.25.0"
nonebot2 = "^2.0.0-alpha.16"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
